<div>
  <form [formGroup]="locationForm">
    <label><strong>Datos de ubicación</strong></label>

    <div class="row">

      <mat-form-field appearance="outline" class="col-6">
        <mat-label>Dirección</mat-label>
        <input matInput matGoogleMapsAutocomplete (onAutocompleteSelected)="onAutocompleteSelected($event)"
          (onLocationSelected)="onLocationSelected($event)" [value]="'dasdasda'">
      </mat-form-field>


      <mat-form-field appearance="outline" class="col-6">
        <mat-label>
          Ciudad *
        </mat-label>
        <input matInput placeholder="Ciudad" formControlName="city_long_name" type="text" readonly>
        <mat-error *ngIf="locationForm.get('city_long_name').invalid">
          {{ getErrors('city_long_name') }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-6">
        <mat-label>
          País *
        </mat-label>
        <input matInput placeholder="País" formControlName="country_long_name" type="text" readonly>
        <mat-error *ngIf="locationForm.get('country_long_name').invalid">
          {{ getErrors('country_long_name') }}
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</div>
