<nav class="navbar navbar-light bg-dark justify-content-between">
  <a class="navbar-brand"><strong class="title-color">EventSite!</strong></a>
  <div class="">
    <label matTooltip="Menú de creación de restaurantes">
      <button class="btn btn-outline-success my-2 my-sm-0 button-margin" (click)="goCreate()">Crear</button>
    </label>
    <button class="btn btn-outline-info my-2 my-sm-0 button-margin" (click)="goEdit()">Editar</button>
    <button class="btn btn-outline-danger my-2 my-sm-0 button-margin" (click)="logout()">Cerrar Sesión</button>
  </div>
</nav>
