<ng-container *ngIf="userId.length > 0">
  <nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">EventSite!</a>
    <div class="form-inline">
      <button class="btn btn-outline-success my-2 my-sm-0 button-margin" (click)="goCreate()">Crear</button>
      <button class="btn btn-outline-info my-2 my-sm-0 button-margin" (click)="goEdit()">Editar</button>
      <button class="btn btn-outline-danger my-2 my-sm-0 button-margin" (click)="logout()">Cerrar Sesión</button>
    </div>
  </nav>
</ng-container>
<router-outlet></router-outlet>
