<div style="margin: 5%;">
  <ng-container style="height: 100%;">
    <ng-container *ngIf="customerList && customerList.length > 0; else noItemsTemplate">
      <ng-container *ngFor="let item of customerList">
        <mat-card style="size: 100%;">
          <app-customer [item]="item"></app-customer>

        </mat-card>
        <mat-card-actions>

        </mat-card-actions>
        <br>
      </ng-container>
    </ng-container>

    <ng-template #noItemsTemplate>
      <mat-card>
        <mat-card-content>
        </mat-card-content>
      </mat-card>
    </ng-template>
  </ng-container>
</div>
